---
import Layout from "../layouts/Layout.astro";
import NavLinks from "../components/NavLinks.astro";

let activeLink = true;
const links = ["Home", "About", "Contact"];
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="hero-bg h-screen flex flex-col gap-6">
			<div class="flex justify-between mx-2 items-center">
				<div class="flex gap-2">
					<img
						src="/assets/images/logo.svg"
						alt="loading"
						class="w-16 mt-4"
					/>
					<img
						src="/assets/images/cName.svg"
						alt="loading"
						class="w-10 mt-4"
					/>
				</div>
				<div class="">
					<img
						src="/assets/images/Hamburger-Button.svg"
						alt="loading"
						class="mt-4"
					/>
					<ul>
						{
							links.map((link) => (
								<a href="/"><li>{link}</li></a>
							))
						}
					</ul>
				</div>
			</div>
			<!-- profile  -->
			<div class="p-2 flex justify-center">
				<img src="/assets/images/profile.svg" alt=" loading" />
			</div>
		</div>
	</main>
</Layout>

<style scoped>
	.hero-bg {
		background-image: url("/assets/images/bacgroundMd.svg");
		background-repeat: no-repeat;
	}
</style>
