---

// export interface prop{
//     href: string,
//     linkName:string

// }
// const { href, linkName } = Astro.props;
---
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/blog">Blog</a>